{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "crlf",
  "trailingComma": "all",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-svelte"],
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
