@import 'tailwindcss';

@plugin "tailwindcss-animate";

@font-face {
	font-family: 'Helvetica Neue';
	src:
		local('Helvetica Neue'),
		url('/fonts/HelveticaNeue400.woff2') format('woff2'),
		url('/fonts/HelveticaNeue400.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src:
		local('Helvetica Neue'),
		url('/fonts/HelveticaNeue500.woff2') format('woff2'),
		url('/fonts/HelveticaNeue500.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src:
		local('Helvetica Neue'),
		url('/fonts/HelveticaNeue700.woff2') format('woff2'),
		url('/fonts/HelveticaNeue700.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@theme {
	--color-background: oklch(99.09% 0.0021 300);
	--color-foreground: oklch(15.48% 0.0253 267.94);
	--color-muted: oklch(0.97 0 264.54 / 1);
	--color-muted-foreground: oklch(41.01% 0.0146 264.36);
	--color-popover: oklch(1 0 0 / 1);
	--color-popover-foreground: oklch(0.13 0.03 261.59 / 1);
	--color-card: oklch(1 0 0 / 1);
	--color-card-foreground: oklch(0.13 0.03 261.59 / 1);
	--color-border: oklch(0.93 0.01 264.53 / 1);
	--color-input: oklch(0.93 0.01 264.53 / 1);
	--color-primary: oklch(48.1% 0.2952 277.69 / 1);
	--color-primary-foreground: oklch(0.98 0 247.84 / 1);
	--color-secondary: oklch(0.97 0 264.54 / 1);
	--color-secondary-foreground: oklch(0.21 0.03 263.57 / 1);
	--color-accent: oklch(0.97 0 264.54 / 1);
	--color-accent-foreground: oklch(0.21 0.03 263.57 / 1);
	--color-destructive: oklch(0.58 0.21 27.17 / 1);
	--color-destructive-foreground: oklch(0.98 0 247.84 / 1);
	--color-ring: oklch(0.13 0.03 261.59 / 1);
	--color-sidebar-background: oklch(0.98 0 0 / 1);
	--color-sidebar-foreground: oklch(0.37 0.01 285.84 / 1);
	--color-sidebar-primary: oklch(0.21 0.01 285.87 / 1);
	--color-sidebar-primary-foreground: oklch(0.98 0 0 / 1);
	--color-sidebar-accent: oklch(0.97 0 286.37 / 1);
	--color-sidebar-accent-foreground: oklch(0.21 0.01 285.87 / 1);
	--color-sidebar-border: oklch(0.93 0.01 264.53 / 1);
	--color-sidebar-ring: oklch(0.63 0.19 259.6 / 1);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;
	--animate-shine-pulse: shine-pulse 2s linear infinite;
	--animate-aurora: aurora 60s linear infinite;
	--animate-bounce-x: bounce-x 1.2s ease-in-out infinite;
	--animate-marquee-left: marquee-left var(--marquee-duration, 60s) linear infinite;
	--animate-marquee-up: marquee-up var(--marquee-duration, 60s) linear infinite;

	--font-sans: 'Helvetica Neue', sans-serif;

	--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.05);
	--shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px -1px rgba(0, 0, 0, 0.05);
	--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.05);

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}

	@keyframes shine-pulse {
		0% {
			background-position: 0 0;
		}
		50% {
			background-position: 100% 100%;
		}
		100% {
			background-position: 0 0;
		}
	}

	@keyframes aurora {
		from {
			background-position:
				50% 50%,
				50% 50%;
		}

		to {
			background-position:
				350% 50%,
				350% 50%;
		}
	}

	@keyframes bounce-x {
		0%,
		100% {
			transform: translateX(25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: none;
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}

	@keyframes marquee-left {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-100% - var(--marquee-gap)));
		}
	}

	@keyframes marquee-up {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(calc(-100% - var(--marquee-gap)));
		}
	}

	/* Custom keys */

	--nav-height: 4.5rem;
	--nav-spacing: 0rem;

	--ct-max-w: 75rem;
	--ct-max-w-sm: 60rem;
}

/* Base */

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	p {
		@apply leading-relaxed;
	}
}

@utility vertical-disclosures {
	--gap: 0.5rem;
	--easing: cubic-bezier(0.25, 0.8, 0.25, 1);
	--speed: 0.6s;
	--disclosure-cols: 10fr 1fr 1fr 1fr 1fr 1fr;

	@apply m-0 grid h-[36rem] list-none grid-cols-1 grid-rows-[var(--disclosure-cols)] justify-center gap-[var(--gap)] p-0 md:h-80 md:grid-cols-[var(--disclosure-cols)] md:grid-rows-1;
	container-type: inline-size;
	transition:
		grid-template-columns var(--speed) var(--easing),
		grid-template-rows var(--speed) var(--easing);

	li {
		@apply bg-card text-muted-foreground/75 relative min-h-14 w-full overflow-hidden rounded-lg border px-6 py-4 shadow-[0_4px_20px_-1px_rgba(0,0,0,0.03),0_1px_6px_-1px_rgba(0,0,0,0.02)] transition-all duration-[600ms] ease-in-out md:w-auto md:p-6;

		h3 {
			@apply text-muted-foreground absolute top-3 w-max origin-[0_50%] transition md:top-4 md:left-[37px] md:rotate-90;
		}

		a {
			@apply opacity-0 transition duration-[600ms] hover:underline;
		}

		& p {
			@apply max-w-prose -translate-y-4 opacity-0 transition duration-[600ms] md:-translate-x-4 md:translate-y-0;
		}

		img {
			@apply absolute inset-0 h-full w-full scale-125 object-cover opacity-50 brightness-150 grayscale-100;
			mask: radial-gradient(100% 80% at 100% 0, #fff, #0000);
			transition-property: filter, scale;
			transition-duration: calc(var(--speed) * 1.2);
			transition-timing-function: var(--easing);
		}

		.bar {
			@apply basis-12 transition-all duration-[600ms] md:max-w-none;
		}
	}

	li[data-active='true'] {
		@apply text-foreground px-6 py-4 hover:shadow-[0_8px_30px_rgba(0,0,0,0.05)] md:p-6;

		h3 {
			@apply text-foreground top-4;
		}

		a {
			@apply opacity-100;
		}

		& p {
			@apply translate-y-0 opacity-100 md:translate-x-0;
		}

		img {
			@apply scale-100 opacity-100 brightness-100 grayscale-0;
			transition-delay: calc(var(--speed) * 0.25);
			mask: linear-gradient(
				to bottom,
				transparent 0%,
				transparent 40%,
				#fff 65%,
				#fff 75%,
				transparent 90%,
				transparent 100%
			);
		}

		@media (min-width: 768px) {
			img {
				mask: radial-gradient(100% 100% at 100% 0%, #fff, #0000);
			}
		}

		.bar {
			@apply grow;
		}
	}
}

/* Utilities */

@utility kcontainer {
	margin-inline: auto;
	max-width: var(--ct-max-w);
}

@utility kcontainer-sm {
	max-width: var(--ct-max-w-sm);
}

@utility h-nav {
	height: var(--nav-height);
}

@utility position-nav {
	@apply top-[var(--nav-spacing)] right-0 left-0 mx-auto;
}

@utility kcontainer-nav-padding {
	@apply pt-[calc(var(--nav-height)+var(--nav-spacing))];
}

@utility min-h-screen-wo-nav {
	@apply min-h-[calc(100vh-var(--nav-height)-var(--nav-spacing))];
}
